@use 'vars';

.MyOrder {
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	background-color: white;
	top: 60px;
	bottom: 0;
	border-radius: 6px;
	border: 1px solid var(--very-light-pink);
	background-color: var(--white);
/* 	min-height: 250px;
	height: min-content; */
	height: calc(100vh - 78px);
	overflow-y: scroll;
}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
}
.title {
	font-size: var(--lg);
	font-weight: bold;
}
.order-trasparent {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
	width: 270px;
	position: fixed;
	bottom:10px;
	background-color: var(--very-light-transparent-pink);
	
	
}
.order-trasparent p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order-trasparent p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order-trasparent p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
	grid-column: 1/3;
	margin-bottom: 10px;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100vw;
		height: 100vh;
	}
	.order-trasparent{
		width: 80%;
	}
}
