@use "vars";

.not-found_container {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
  color: var(--hospital-green);
}
.not-found_number{
    font-size: 120px;
    margin: 0;
}

.not-found_message {
  font-size: var(--lg);
  color: var(--text-input-field);
}

.not-found_button {
  background-color: var(--hospital-green);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: var(--md);
}
